[flake8]
exclude =
    venv,
    dist,
    .venv
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = E203,E501,W503,C901,E402,E999,F821,F403,F40
max-line-length = 120
max-complexity = 10
application-import-names = tests
import-order-style = google
docstring-convention = google
ban-relative-imports = true
per-file-ignores = tests/*:S101